@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #111;
}

#title, #me {
  color: #ffffff !important;
  text-align: center;
  display: block;
  width: 100%;
  flex-wrap: wrap;
}

#me {
  margin-bottom: 1vh;
}

#title {
  padding-top: 4vh;
}


img {
  width: inherit;
  max-width: 300px;
  border: 10px solid #1e1f22;
  border-radius: 50px;
  display: flex;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
  min-height: 100vh;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

#today {
  margin-bottom: 0px !important;
  margin-top: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 10px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-50%; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-50%; opacity:0}
  to {top:0; opacity:1}
}



/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: orange;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 5px 16px;
  background-color: #111;
  color: white;
}

#hapbut1, #hapbut2 {
  background-color: #111;
  color: white;
  border: 3px solid #111;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  padding: 2px;
}

.modal-body {
  background-color: #1e1f22;
  padding: 2px 16px;
}

.modal-body p {
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.timeline-content a {
  text-decoration: none;
  color: orange;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: orange;
  }
}

@media (pointer: coarse) {
  .timeline-content .date {
    letter-spacing: 0px;
  }
  img {
    max-width: 200px;
  }
  img {
    max-width: 200px;
  }
}
